* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --page-bg-color: #f5f5f5;
    --color-font-main: #2071db;
    --color-title-section: #737373;
    --font-black: 'Archivo Black';
    --font-narrow: 'Archivo Narrow';
    --page-max-width: 1220px;
}

body {
    background-color: var(--page-bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-narrow);
}

h1 {
    font-family: var(--font-black);
    color: var(--color-font-main) ;
}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 14px;
}

.marquee {
    width: 100%;
    text-align: center;
    background-color: #5c76a4;
    color: #fff;
    font-family: var(--font-narrow);
    text-transform: uppercase;
    padding: 0.5rem;
}

header {
    display: flex;
    justify-content: center;

    .logo {
        margin: 1.5rem 0;
        img {
            max-width: 15rem;
            height: auto;
        }
    }
}

main {
    
    display: flex;
    justify-content: center;
}

.page {
    max-width: var(--page-max-width);
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-photo {
    img {
        max-width: 22.5rem;
        height: auto;
    }
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 5px;
    .main-info__title {
        .main-info__stars {
            display: flex;
            align-items: center;
            gap: 0.1rem;
            img {
                height: 0.7rem;
            }
            span {
                color: grey;
                font-size: 12px;
            }
        }
    }
    .main-info__price {
        .main-info__price--dashed {
            h5 {
                text-decoration: line-through;
                color: rgb(172, 172, 172);
            }
        }

        .main-info__price--real {
            color: var(--color-font-main);
            font-family: var(--font-black);
        }

        .main-info__price--card {
            h3 {
                color: grey;
            }
        }
    }
    .main-info__presentation {
        p {
            color: rgb(100, 100, 100);
        }
    }

    .main-info__options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .main-info__options--sizes {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .options--sizes__title {
                h3 {
                    font-size: 1rem;
                }
            }

            .options--sizes__numbers {
                display: flex;
                gap: 0.5rem;

                .size {
                    display: grid;
                    place-items: center;
                    border: 1px solid black;
                    border-radius: 0.5rem;
                    height: 44px;
                    width: 44px;
                }
            }
        }

        .main-info__payment {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

button {
    font-family: var(--font-black);
    font-size: 1.2rem;
    background-color: #4caf50 ;
    border: none;
    border-radius: 40px;
    border-bottom: 4px solid #7ed957;
    color: #fff;
    padding: 10px 40px;
}

section {
   margin-top: 2rem;

    .sections {

        .section-1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .photo {
                display: flex;
                justify-content: space-around;
                
                img {
                    width: 180px;
                    height: auto;
                }
            }

            .info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-family: var(--font-black);
                    font-size: 1.5rem;
                    color: var(--color-title-section);
                    text-align: center;
                }

                .text {
                    display: flex;
                    justify-content: center;
                    width: 100%;

                    div {
                        width: 250px;
                        text-align: center;
                        color: #737373;
                    }
                }

                .buy {
                    display: flex;
                    justify-content: center;
                }
                
            }
        }
    }
}