* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --page-bg-color: #f5f5f5;
    --color-font-main: #041e3a;
    --color-font-secundary: #475b80;
    --font-texts: "IBM Plex Serif", serif;
    --font-small: "Open Sans", sans-serif;
    --font-number: "Gidole", sans-serif;
    --page-max-width: 1220px;
}

body {
    font-family: var(--font-texts);
    color: var(--color-font-main);
    background-color: var(--page-bg-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-weight: 500;
    color: var(--color-font-main);
}

h3 {
    font-size: 13px;
}

h4 {
    font-family: var(--font-small);
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}

p{
    font-family: var(--font-small);
    font-size: 12px;
}

span.number {
    font-family: var(--font-number);
}

hr {
    border: none;
    background-color: #cccccc;
    height: 1px;
    margin: 20px 0;
}

.marquee {
    width: 100%;
    text-align: center;
    background-color: var(--color-font-main);
    color: #fff;
    font-family: var(--font-texts);
    text-transform: uppercase;
    padding: 0.5rem;
}

header {
    display: flex;
    justify-content: center;

    .logo {
        margin: 1.5rem 0;
        img {
            max-width: 15rem;
            height: auto;
        }
    }
}

main {
    
    display: flex;
    justify-content: center;
}

.page {
    max-width: var(--page-max-width);
}

article {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-photo {
    img {
        max-width: 22.5rem;
        height: auto;
    }
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 5px;
    .main-info__title {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        .main-info__stars {
            display: flex;
            align-items: center;
            gap: 0.1rem;
            img {
                height: 0.7rem;
            }
            span {
                font-family: var(--font-small);
                color: var(--color-font-secundary);
                font-size: 11px;
            }
        }
    }
    .main-info__price {
        .main-info__price--dashed {
            h5 {
                font-family: var(--font-number);
                font-size: 11px;
                font-weight: normal;
                text-decoration: line-through;
                color: rgb(161, 161, 161);
            }
        }

        .main-info__price--real {
            color: var(--color-font-main);
            font-family: var(--font-number);
            font-size: 15px;
        }

        .main-info__price--card {
            h3 {
                font-family: var(--font-number);
                font-weight: 100;
                color: var(--color-font-main);
            }
        }
    }

    .main-info__options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .main-info__options--sizes {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .options--sizes__title {
                h3 {
                    font-family: var(--font-small);
                    font-size: 12px;
                    font-weight: 500;
                }
            }

            .options--sizes__numbers {
                display: flex;
                gap: 0.5rem;

                .size {
                    display: grid;
                    place-items: center;
                    font-family: var(--font-small);
                    font-size: 16px;
                    font-weight: 500;
                    border: 1px solid var(--color-font-main);
                    height: 44px;
                    width: 44px;
                }
            }
        }

        .main-info__payment {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

button {
    font-family: var(--font-small);
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--color-font-main) ;
    border: none;
    border-bottom: 4px solid #35a6da;
    color: #fff;
    padding: 10px 40px;
}

section {
   margin-top: 2rem;
   padding: 5px 0;

    .sections {

        .section-1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .photo {
                display: flex;
                justify-content: space-around;
                
                img {
                    width: 180px;
                    height: auto;
                }
            }

            .info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

                .title {
                    font-family: var(--font-texts);
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: var(--color-font-main);
                    text-align: center;
                }

                .text {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    div {
                        font-family: var(--font-small);
                        font-size: 16px;
                        line-height: 1.5;
                        width: 250px;
                        text-align: center;
                        color: grey;
                    }
                }

                .buy {
                    display: flex;
                    justify-content: center;
                }
                
            }
        }
    }
}